*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.top{
    height: 80px;
    width: 100%;
    background-color: green;
}
.mid{
    height: 540px;
    width: 100%;
    /* background-color: black; */
    display: flex;
}
.box1{
    height: 540px;
    width: 50%;
    /* background-color: red; */
}
.b1{
    height: 270px;
    width: 100%;
    background-color: blue;
}
.b2{
    height: 270px;
    width: 100%;
    background-color: red;
}
.box2{
    height: 540px;
    width: 50%;
    background-color: yellow;
}
.end{
    height: 60px;
    width: 100%;
    background-color: purple;
}